input[type="text"], input[type="password"], input[type='email'] {
    background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
}

label, textarea, input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    color: blue;
}

input[type="submit"] {
    background-color: #0077FF;
    border: 1px solid #0077FF;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #FFFFFF;
    color: #0077FF;
}
